# انسخ هذا الملف إلى .env واملأه بقيمك

# من لوحة TgAuto > ربط الـ Worker
API_BASE_URL=https://preview--friendly-auto.lovable.app
WORKER_TOKEN=tga_71ab355fa622b8a400237e29453575a36173b656bd7cbaeb9b8ffe28183f6b2a

# من https://my.telegram.org/apps
TG_API_ID=34082021
TG_API_HASH=0b88d1ec5f05cb43a8f01cc1c93de4e90b88d1ec5f05cb43a8f01cc1c93de4e9

# يُملأ تلقائياً بعد تشغيل login.py (أو الصقه يدوياً عند النشر السحابي)
TG_SESSION=1BJWap1wBu6w86ZCJ0lFSD6f1wa_1NbkQhLtatilciRQm6HONT7vBv2zgzOE_6qFh94jwxSaa4rYTcv6OZjlW7rzDZ8Do6jTyNrd4zSS4sBNVGmPEerohru1GHyCYXTfiOWI0j9KC0RTEJ-4zb3EKi3F6-kr-L8k7OLAFCSuUJJdqeE6lZmH_9JeB6nKVrY1n63f8eMrnmms3vw7TtdEjmNyYuvh0c5_4AfOnsza2kYYO1icXpAGv7pbTrM802LvbMJ688jVXrpHDU_rfngNSLIDs9Z7FnBdk1AwXfi3ampUryUIeLdrkFkmVrsLhT3dSWEmEWbQ72zjx6WnIv1LXBv-1_-QnD1A=
